*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 20px;
  --link-link-dark-default: #00133A;
  --grey-color-black-90: #17171A;
  --grey-color-black-40: #81899D;
  --grey-color-black-30: #A1A7B5;
  --color-brend-primary: #0F62FE;
  --link-link-color-default: #0C5BEF;
  --button-button-bordered-default: #002DBF;
  --radius-full: 18rem;
  --bg-bg-5: #F0F6FE;
  --radius-m: 0.8rem;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

button {
  cursor: pointer;
}