.banner {
  width: 100%;
  height: 16rem;

  display: flex;
  align-items: flex-end;

  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }

  &__title {
    color: var(--grey-color-black-90);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02rem;

    margin-bottom: 2.4rem;
  }
}